@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.App{
  display: flex;
  flex-direction: column
}

.navbar {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.content {
  display: flex;
  padding: 20px 20px 0px 20px;
  background-color: darkblue;
  justify-content: center
}


.details{
  background-color: red;
  display: flex;
  flex-grow: 1;
  width: 30px;
  font-size: 30;
}
.home{
  display: flex;
  flex-direction: column;
  background-color: #333;
  flex-grow: 3;
  width: 100px;
}

.zgornji{
  display: flex;
  height: 80%;
}
/* Zemljevid */
g{
  display: flex;
  fill: #ffffff;
}

g:hover{
  fill: #333;
}
/* Legenda */
.legdiv{
  display: flex;
  padding: 20px;
}

.legenda{
  display: flex;
  background: linear-gradient(0deg, #ACFFBA, #C8FFAC, #F1FFAC, #FFE3AC, #FFBAAC);
  width: 15px;
  border: 2px solid lightgray;
  border-radius: 50px;
  
}
/* Sliderji */
.sliderji{
  display: flex;
  height: 20%;
  background-color: wheat;
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}