@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* BARVNA PALETA */
/* #F8EDE3  #DFD3C3 #D0B8A8 #85586F*/

/* base styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  color: #85586F;
  border-radius: 15px;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #F8EDE3;;
}

.navbar {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 1px solid #D0B8A8;
  border-radius: 0%;
  width: 98%;
}

.navbar h1 {
  color: #85586F;
  padding-left: 5px;
}

.links {
  margin-left: auto;
}

.content {
  display: flex;
  padding: 20px 20px 0px 0px;
  background-color: #D0B8A8;
  justify-content: center;
  border: 1px solid #85586F;
  box-shadow: 3px 3px;
  height:92vh;
  border-radius: 0px;
}

/* Primerjave */
.details {
  display: flex;
  flex-wrap: wrap; 
  flex-grow: 1;
  width: 10%;
  justify-content: space-evenly;
}

.podrobnosti {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #DFD3C3;
  border: solid #85586F;
  height: 99%;
  width: 45%;
  border-width: 2px;
  box-shadow: 3px 3px;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.naslov{
  padding: 10px;
}

.dpodatki{
  width: 90%;
  display: flex;
  flex-direction: column;
}

.prostorzasliko{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 90%;
  margin-bottom: 13px;
  background-color: white;
  box-shadow: 0 3px rgb(129, 113, 125);
  border: solid 2px #85586F;
  border-color: #85586F;
}

.prostorzasliko img {
  border-radius: 0px;
  height: 90%;
  max-width: 100%;
  max-height: 100%;
}

.infowrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  margin-bottom: 13px;
  background-color: white;
  box-shadow: 0 3px rgb(129, 113, 125);
  border: solid 2px #85586F;
  border-color: #85586F;
}

.izbrisi{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 90%;
  margin-bottom: 13px;
  margin-top: auto;
  box-shadow: 0 7px rgb(129, 113, 125);
  cursor:pointer;
  border-color: #85586F;
}
.izbrisi:hover{
  background-color: #D0B8A8;
  border-color: #85586F;
}
.izbrisi:active{
  border-color: #85586F;
  background-color: #D0B8A8;
  box-shadow: 0 5px rgb(78, 63, 74);
  transform: translateY(4px);
}

.razlaga{
  font-size: 24px;
  display: flex;
  padding-left: 20px;
}

.home {
  display: flex;
  flex-direction: column;
  background-color: #69515e;
  border: solid #85586F;
  border-width: 2px;
  box-shadow: 3px 3px;
  flex-grow: 3;
  width: 100px;
}

.zgornji {
  display: flex;
  height: 80%;
}
/* Zemljevid */
g {
  display: flex;
}
g:hover {
  fill:rgba(255,255,255,0.5);
  cursor:pointer;
}

/* Legenda */
.legdiv {
  display: flex;
  padding: 20px;
}
.legenda {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    0deg,
    #acffba,
    #c8ffac,
    #f1ffac,
    #ffe3ac,
    #ffbaac
  );
  width: 15px;
  border: 2px solid lightgray;
  border-radius: 50px;
  margin-right: 80px;
}
.zelo{
  display: flex;
  padding-left: 20px;
  color: #F8EDE3;
  margin-bottom: auto;
}
.malo{
  display: flex;
  align-self: flex-start;
  padding-left: 20px;
  margin-top: auto;
  color: #F8EDE3;
}

/* Sliderji */
.sliderji {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;

  background-color: #DFD3C3;
}
.blog-list {
  width: 80%;
  font-size: 20px;
}

/* Popup */
.popup-content {
  margin: 20% 0% 0% 30%;
  background: #F8EDE3;
  height: 40%;
  width: 30%;
  padding: 5px;
  border: 5px solid #85586F;
}
.popup-content h1{
  padding: 10px;
  text-align: justify;
}
.popup-content p{
    padding: 10px;
    text-align: justify;
}