@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.App {
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  width: 95%;
}
.navbar h1 {
  color: wheat;
  text-shadow: 1px 1px black;
}
.links {
  margin-left: auto;
}

.content {
  display: flex;
  padding: 20px 20px 0px 20px;
  background-color: #bbbbbb;
  justify-content: center;
  border: 1px solid black;
  box-shadow: 3px 3px;
}

.details {
  display: flex;
  flex-grow: 1;
  width: 10%;
  font-size: 1;
  font-size: 24px;
  font-weight: bold;
}

.levi {
  display: flex;
  background: wheat;
  border: solid black;
  height: 80%;
  width: 45%;
  border-width: 2px;
  box-shadow: 3px 3px;
  margin-right: 2%;
  margin-left: 2%;
}

.desni {
  display: flex;
  background: wheat;
  border: solid black;
  height: 80%;
  width: 45%;
  border-width: 2px;
  box-shadow: 3px 3px;
}

.home {
  display: flex;
  flex-direction: column;
  background-color: #333;
  border: solid black;
  border-width: 2px;
  box-shadow: 3px 3px;
  flex-grow: 3;
  width: 100px;
}

.zgornji {
  display: flex;
  height: 80%;
}
/* Zemljevid */
g {
  display: flex;
  fill: #ffffff;
}

g:hover {
  fill: #333;
}
/* Legenda */
.legdiv {
  display: flex;
  padding: 20px;
}

.legenda {
  display: flex;
  background: linear-gradient(
    0deg,
    #acffba,
    #c8ffac,
    #f1ffac,
    #ffe3ac,
    #ffbaac
  );
  width: 15px;
  border: 2px solid lightgray;
  border-radius: 50px;
}
/* Sliderji */
.sliderji {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;

  background-color: wheat;
}
.blog-list {
  width: 80%;
  font-size: 20px;
}
/* Popup */
.popup-content {
  margin: 20% 0% 0% 30%;
  background: rgb(255, 255, 255);
  height: 30%;
  width: 30%;
  padding: 5px;
  border: 5px solid black;
  border-radius: 15px;
}
